*~
*.o
*.lo
*.a
*.so
.DS_Store
# configure cruft
.deps/
.dirstamp
autom4te.cache/
Makefile
build-aux/config.h
build-aux/stamp-h1
config.log
config.status
libtool
src/Makefile
tests/Makefile
tutorial/src/Makefile
tutorial/ssa/Makefile
